<!DOCTYPE html>
<html>

<head>
    <title>Books Loan/Return</title>
    <title>Create Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../../css/myStyle.css" />
</head>

<body>
    <div id="menu"></div>
    <div class="container">
        <h4 th:if="${action=='loan'}"> Loan Books</h4>
        <h4 th:if="${action=='return'}"> Return Books</h4>
        <div class="alert alert-danger" role="alert" th:if=${error} th:text=${error}>
        </div>
        <table class="table table-striped">
            <thead class="thead">

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col" th:if="${action=='loan'}">Available for loan</th>
                    <th scope="col">Users</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="book,iter : ${books}">
                    <td th:text="${iter.index}+1">
                    <td th:text="${book.title}">
                    <td th:if="${action=='loan'}" th:text="${book.copiesForLoan}">
                    <td>
                        <form action="#" th:action="@{|/books/return/${book.isbn}|}" th:method="PUT"
                            th:if="${action=='return'}" th:object="${userDto}">
                            <div class="row">
                                <select class="col-md-6 form-control" th:field="${userDto.id}">
                                    <option th:value="${null}">Select a user</option>
                                    <option th:each="user : ${book.loaners}" th:value="${user.id}"
                                        th:text="${user.lastName} ">
                                    </option>
                                </select>
                                <button type="submit" class="col-md-4 btn btn-info"
                                    style="margin-left:5px;">Return</button>
                            </div>
                        </form>
                        <form action="#" th:action="@{|/books/loan/${book.isbn}|}" th:method="PUT"
                            th:if="${action=='loan'}" th:object="${userDto}">
                            <div class="row">
                                <select class="col-md-6 form-control" th:field="${userDto.id}">
                                    <option th:value="${null}">Select a user</option>
                                    <option th:each="user : ${book.usersAvailForLoan}" th:value="${user.id}"
                                        th:text="${user.lastName} ">
                                    </option>
                                </select>
                                <button type="submit" class="col-md-4 btn btn-info"
                                    style="margin-left:5px;">Loan</button>
                            </div>
                        </form>
                    </td>


            </tbody>
        </table>

    </div>
</body>

</html>