input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



body {
    height: 100%;
    margin: 0px;
    background-image: url("../img/cover-opacity.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}

table {
    opacity: 0.9;
    background-color: #f8f9fa;
}

table .thead {
    background-color: rgb(199, 220, 240);
}

.btn-save {
    background-color: rgb(94, 154, 209) !important;
    color: white !important;
}

.btn-save:hover {
    background-color: rgb(61, 110, 156) !important;
}

.btn-cancel {
    background-color: rgb(218, 80, 80) !important;
    color: white !important;
}

.btn-cancel:hover:enabled {
    background-color: rgb(194, 55, 55) !important;
}

#error {
    background-color: rgb(245, 212, 212) !important;
}

nav {
    background-color: #0f5a8b;


}

.navbar-brand {
    font-size: 1.45rem !important;
}

.container {
    padding-top: 20px;
}

.container h4 {
    padding-bottom: 5px;
}

.container .home {
    padding: 20px 0px 50px;
}