<!DOCTYPE html>
<html>

<head>
    <title>Internal Server Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <style>
        body::after {
            content: "";
            background-image: url("../img/download.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.2;
            top: 0px;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

        #error {
            background-color: rgb(245, 212, 212) !important;
        }
    </style>
</head>

<body id="error">
    <div class="container">
        <div align="center">
            <h1>500-Internal Server Error</h1>
            <p>We are sorry something went wrong. We are looking on it.</p>
            <a class="btn btn-primary" href="/" role="button">Go Home</a>
        </div>
    </div>

</body>

</html>