<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css" />
</head>

<body>
    <div id="menu"></div>
    <div class="container">
        <h3 align="center" class="home"> Welcome to National Library</h4>
            <h4 align="center" style="color: #0f5a8b;">Upcomming Events</h4>
            <div class="row">

                <div class="col-md-4">
                    <img style="opacity: 0.9" class="img-fluid" src="https://www.intellievent.com/images/blog/tse19.png"
                        alt="Sample image">
                </div>
                <div class="col-md-8">
                    <p class="dark-grey-text ">We are excited to announce that we have two new AWE Stations in the
                        Children’s Department and this time around they are BILINGUAL Spanish and English! These
                        literacy stations introduce young learners to a variety of games and applications that are
                        STREAM-aligned, including: Science, Technology, Reading, Engineering, Arts, and Math. Children
                        ages 1-8 can easily explore guaranteed safe content that is developmentally appropriate and
                        ideal for a variety of learning styles.</p>

                </div>
            </div>
</body>

</html>